<div class="body">
    <div class="centrado">
        <nav class="contenido_nav">

                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
                <a routerLink="/ventas" routerLinkActive="active">Ventas</a>
                <a routerLink="/productos" routerLinkActive="active">Productos</a>
        </nav>

        <div class="disp">
            <div class="cont_share">
                <div class="share">
                    <input type="text" class="text1">
                    <input type="button" value="Buscar" class="button1">
                </div>
            </div>
            
            
                <div class="list_best">
                    <div class="best_product">
                        <h3>Productos mas vendidos</h3>
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="undefined">
                        
                    </div>
                </div>
                
                <div class="ultimas_ventas">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                
            
        </div>

    </div>
</div>