<div class="body">
    <div class="centrado">
        <nav class="contenido_nav">

                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
                <a routerLink="/ventas" routerLinkActive="active">Ventas</a>
                <a routerLink="/productos" routerLinkActive="active">Productos</a>
        </nav>
        <div class="disp">
            <div class="datos_productos">
                <div class="nombre_productos">
                    <label for="">Nombre del producto</label>
                    <input type="text"  name="" id="">
                </div>

                <div class="cat_productos">
                    <div>
                        <label  for="">Cantidad</label>
                        <input class="size_in" type="number">
                    </div>

                    <div>
                        <label for="">Precio</label>
                        <input class="size_in" type="number" name="" id="">
                    </div>

                    <div>
                        <label class="margen" for="cp">Categoria</label>
                        <select name="cp" id="cp">
                            <option value="" selected="selected">- selecciona -</option>
                            <option value="Pequeño">Pequeño</option>
                            <option value="Mediano">Mediano</option>
                            <option value="Grande">Grande</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="contener_buscador">
                <div class="buscador">
                    <input type="search" class="buscar">
                </div>
                <div class="boton_buscar">
                    <input type="button" value="Filtrar">
                </div>
            </div>
            <div class="contener_tabla_producto">
                <div class="tabla_producto">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Id producto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">cantidad</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cat. producto</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">8</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">9</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">10</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">11</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">12</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">13</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

