<div class="body">
    <div class="centrado">
        <nav class="contenido_nav">

                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
                <a routerLink="/ventas" routerLinkActive="active">Ventas</a>
                <a routerLink="/productos" routerLinkActive="active">Productos</a>
        </nav>
        <div class="disp">
            <div class="datos_clientes">
                <div class="nombre_cliente">
                    <label for="">Nombre y apellidos</label>
                    <input type="text"  name="" id="">
                </div>
                <div class="fech_tip_cliente">
                    <label for="">Fecha de ingreso</label><input type="datetime-local">
                    <label for="tc">Tipo de cliente</label>
                    <select name="tc" id="tc">
                        <option value="" selected="selected">- selecciona -</option>
                        <option value="Regular">Regular</option>
                        <option value="Primium">Primium</option>
                    </select>
                </div>
            </div>
            <div class="contener_buscador">
                <div class="buscador">
                    <input type="search" class="buscar">
                </div>
                <div class="boton_buscar">
                    <input type="button" value="Filtrar">
                </div>
            </div>
            <div class="contener_tabla_cliente">
                <div class="tabla_cliente">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Id cliente</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha de ingreso</th>
                            <th scope="col">Tipo de cliente</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">8</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">9</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">10</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">11</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row">12</th>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

